swagger: '2.0'
info:
  version: '1.0'
  title: "DataPlatform"
  description: DataPlateforme est une API permettant aux client Affix d'associer des points d'intérêts à des emplacements publicitaires déjà existants dans la Data Platform ou en créer de nouveaux.L'idée générale est de mettre à disposition une base de données collaborative afin que les sociétés d'affichage puissent exploiter les donner et/ou alimenter la base de données.
  license:
    name: DataPlatform
    url: https://dataplatform-3334d.firebaseapp.com/api/v1
host: dataplatform-3334d.firebaseapp.com
basePath: /api/v1
schemes:
- https
consumes:
- application/json
produces:
- application/json
paths:
  /poi:
    x-summary: POI
    get:
      summary: Récupération des POI
      responses:
        200:
          description: Lorqu'on fait la requête GET, on reçoit la liste et les infos des POI actifs et valide dans un tableau
          schema:
            type: array
            items:
              $ref: '#/definitions/poi'
          examples:
            application/json:
              - active: true
                valide: true
                adresse: RUE 5874
                codePostal: BP 8795 
                ville: PARIS
                pays: FRANCE
                idSociete: 73157b50-8c2f-11e9-b5d2-d58b63a3b90a
                id: 34ec58a0-903d-11e9-b352-5b6936110126
                idTypePoi: 9085ef10-8c36-11e9-96e0-b1fa4e021719
                nom: ATLANTIQUE
                urlLogoPoi:
                longitude: 74
                libelleTypePoi: BANQUES
                libelleSociete: QUADRA
                latitude: 15
    post:
      description: >-
        Lorsqu'on fait une requete POST, on enregistrer un nouveau POI en enregistrant ses informations.  ( NB: L' url des images de logo doit être une DataURL en base 64 )
      summary: Enregistrer un POI
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/poiRequest'
      responses:
        200:
          description: ''
          examples:
            application/json:
              'POI enrégistrée'
  /marques:
    x-summary: Marques
    get:
      summary: Récupération des marques
      responses:
        200:
          description: Lorqu'on fait la requête GET, on reçoit la liste et les infos des Marques actifs et valide dans un tableau
          schema:
            type: array
            items:
              $ref: '#/definitions/marques'
          examples:
            application/json:
              - active: true
                valide: true
                idSociete: 750073a0-8f6a-11e9-b112-b5325e9c8a36
                id: 4e2f2840-9044-11e9-8967-3508f29dfba6
                idTypeMarque: 836bdbb0-8c35-11e9-beea-996d0077bd8d
                nom: APLE
                urlLogoMarque:
                libelleTypeMarque: HIGH TECH
                libelleSociete: SUPRA
    post:
      description: >-
        Lorsqu'on fait une requete POST, on enregistrer une nouvelle marque en enregistrant ses informations. ( NB: L' url des images de logo doit être une DataURL en base 64 )
      summary: Enregistrer une Marque
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/marquesRequest'
      responses:
        200:
          description: ''
          examples:
            application/json:
              'Marque enrégistrée'              
  /type_poi:
    x-summary: TypePOI
    get:
      summary: Récupération des Type de POI
      responses:
        200:
          description: Lorqu'on fait la requête GET, on reçoit la liste des Types de POI actifs et valide dans un tableau
          schema:
            type: array
            items:
              $ref: '#/definitions/type_poi'
          examples:
            application/json:
              - active: true
                valide: true
                id: 0002bc60-8c37-11e9-a7e8-e30d36e50354
                nom: HIGH TECH E
    post:
      description: >-
        Lorsqu'on fait une requete POST, on enregistrer un nouveau Type de POI en enregistrant ses informations
      summary: Enregistrer un Type de POI
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/type_poiRequest'
      responses:
        200:
          description: ''
          examples:
            application/json:
              'Type de poi enrégistrée'
  /type_marques:
    x-summary: TypeMarques
    get:
      summary: Récupération des Type de Marques
      responses:
        200:
          description: Lorqu'on fait la requête GET, on reçoit la liste des Types de Marques actifs et valide dans un tableau
          schema:
            type: array
            items:
              $ref: '#/definitions/type_marques'
          examples:
            application/json:
              - active: true
                valide: true
                id: 53166510-8c36-11e9-8c2c-977a3d3d1953
                nom: BANQUES
    post:
      description: >-
        Lorsqu'on fait une requete POST, on enregistrer un nouveau Type de Marques en enregistrant ses informations
      summary: Enregistrer un Type de Marques
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/type_marquesRequest'
      responses:
        200:
          description: ''
          examples:
            application/json:
              'Type de marque enrégistrée'
  /getMairies:
    x-summary: Recherche Mairies
    put:
      summary: Récupération des mairies
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/getMairiesRequest'
      responses:
        200:
          description: Lorqu'on fait la requête PUT, on récupére des informations sur une mairie. (NB) Les six possibilités de recherche avec les paramètres(codeInsee, codePostal, commune) sont inclues.
          schema:
            type: array
            items:
              $ref: '#/definitions/getMairies'
          examples:
            application/json:
              - active: false
                adresse: 1 place d'Armes
                codePostal: 31370
                codeInsee: 31454
                id: 5bb7d500-9c03-11e9-9c2c-b5729ac1735d
                latitude: 43.4124984741
                libelleSociete: QUADRA DIFFUSION
                libelleTypePoi: MAIRIE
                longitude: 1.11960995197
                nom: Mairie de Rieumes
                pays: FRANCE
                valide: false
                ville: Rieumes
  /getMarques:
    x-summary: Recherche Marques
    put:
      summary: Récupération des marques
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/getMarquesRequest'
      responses:
        200:
          description: Lorqu'on fait la requête PUT, on récupére des informations sur une mairie. (NB) Les six possibilités de recherche avec les paramètres(codeInsee, codePostal, commune) sont inclues.
          schema:
            type: array
            items:
              $ref: '#/definitions/getMarques'
          examples:
            application/json:
              - active: true
                valide: true
                idSociete: 750073a0-8f6a-11e9-b112-b5325e9c8a36
                id: 4e2f2840-9044-11e9-8967-3508f29dfba6
                idTypeMarque: 836bdbb0-8c35-11e9-beea-996d0077bd8d
                nom: APLE
                urlLogoMarque:
                libelleTypeMarque: HIGH TECH
                libelleSociete: SUPRA
definitions:
  poi:
    title: poi
    type: object
    properties:
        active:
          type: boolean
        valide:
          type: boolean
        nom:
          type: string
        id:
          type: string
        adresse:
          type: string
        codePostal:
          type: string
        ville:
          type: string
        pays:
          type: string
        idSociete:
          type: string
        libelleSociete:
          type: string
        idTypePoi:
          type: string
        libelleTypePoi:
          type: string
        urlLogoPoi:
          type: string
        longitude:
          type: number
        latitude:
          type: number
  poiRequest:
    title: poiRequest
    type: object
    properties:
        active:
          type: boolean
        valide:
          type: boolean
        nom:
          type: string
        adresse:
          type: string
        codePostal:
          type: string
        ville:
          type: string
        pays:
          type: string
        idSociete:
          type: string
        idTypePoi:
          type: string
        urlLogoPoi:
          type: string
        longitude:
          type: number
        latitude:
          type: number
  marques:
    title: marques
    type: object
    properties:
        active:
          type: boolean
        valide:
          type: boolean
        nom:
          type: string
        id:
          type: string
        idSociete:
          type: string
        idTypeMarque:
          type: string
        libelleSociete:
          type: string
        libelleTypeMarque:
          type: string  
        urlLogoMarque:
          type: string
  marquesRequest:
    title: marques
    type: object
    properties:
        active:
          type: boolean
        valide:
          type: boolean
        nom:
          type: string
        idSociete:
          type: string
        idTypeMarque:
          type: string  
        urlLogoMarque:
          type: string    
  type_poi:
    title: type_poi
    type: object
    properties:
        active:
          type: boolean
        valide:
          type: boolean
        nom:
          type: string
        id:
          type: string
  type_poiRequest:
    title: type_poi
    type: object
    properties:
        active:
          type: boolean
        valide:
          type: boolean
        nom:
          type: string
  type_marques:
    title: type_marques
    type: object
    properties:
        active:
          type: boolean
        valide:
          type: boolean
        nom:
          type: string
        id:
          type: string          
  type_marquesRequest:
    title: type_marquesRequest
    type: object
    properties:
        active:
          type: boolean
        valide:
          type: boolean
        nom:
          type: string
  getMairies:
    title: getMairies
    type: object
    properties:
        active:
          type: boolean
        valide:
          type: boolean
        nom:
          type: string
        id:
          type: string
        adresse:
          type: string
        codePostal:
          type: string
        ville:
          type: string
        pays:
          type: string
        idSociete:
          type: string
        libelleSociete:
          type: string
        idTypePoi:
          type: string
        libelleTypePoi:
          type: string
        urlLogoPoi:
          type: string
        longitude:
          type: number
        latitude:
          type: number
        codeInsee:
          type: number          
  getMairiesRequest:
    title: getMairiesRequest
    type: object
    properties:
        codePostal:
          type: string
        codeInsee:
          type: number
        commune:
          type: string                    
  getMarques:
    title: getMarques
    type: object
    properties:
        active:
          type: boolean
        valide:
          type: boolean
        nom:
          type: string
        id:
          type: string
        idSociete:
          type: string
        idTypeMarque:
          type: string
        libelleSociete:
          type: string
        libelleTypeMarque:
          type: string  
        urlLogoMarque:
          type: string         
  getMarquesRequest:
    title: getMarquesRequest
    type: object
    properties:
        idMarque:
          type: string
        nom:
          type: string